<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PROGRAM KERJA HMISI</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="github"><i class="fa fa-github"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>HMISI</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block mb-5">
        <ul>
          <li><a href="index.html">Beranda</a></li>
          <li><a href="index.html">Tentang Kami</a></li>
          <li><a href="index.html" class="active">Program Kerja</a></li>
          <li><a href="index.html">News</a></li>
          <li><a href="index.html">Kepengurusan</a></li>
          <li><a href="#footer">Hubungi Kami</a></li>
        </ul>
      </nav><!-- .main-nav -->
    </div>
  </header><!-- #header -->
    <!--==========================
      Program Kerja Section
    ============================-->
    <section id="services" class="section-bg mt-5">
      <div class="container">

        <header class="section-header">
          <br>
          <h3>MAT&MI Project</h3>
          <p>MAT&MI Project adalah Unit Usaha HMISI dimana Kami memiliki Marchendaise untuk di Jual dan Juga menjual jasa IT lainnya.</p>
        </header>

        <section id="portfolio" class="section-bg">
          <div class="container">
            <div class="row portfolio-container">
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="img/MAKRAB.JPG" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><a href="#">Malam Keakraban</a></h4>
                    <div>
                      <a href="img/MAKRAB.JPG" data-lightbox="portfolio" data-title="Kegiatan 1" class="link-preview"
                        title="Preview"><i class="ion ion-eye"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                  <img src="img/pembelajaran.png" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><a href="#">Pembelajaran</a></h4>
                    <div>
                      <a href="img/pembelajaran.png" class="link-preview" data-lightbox="portfolio" data-title="Kegiatan 2"
                        title="Preview"><i class="ion ion-eye"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                  <img src="img/VB.png" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><a href="#">Lomba VB.Net</a></h4>
                    <div>
                      <a href="img/VB.png" class="link-preview" data-lightbox="portfolio" data-title="Lomba VB.Net"
                        title="Preview"><i class="ion ion-eye"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                  <img src="img/rapat.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><a href="#">Rapat Mingguan</a></h4>
                    <div>
                      <a href="img/rapat.jpg" class="link-preview" data-lightbox="portfolio" data-title="Rapat Mingguan"
                        title="Preview"><i class="ion ion-eye"></i></a>
                      <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- #portfolio -->
      </div>
    </section><!-- #services -->

   
  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3>HMISI</h3>
                  <p>"Teknologi sangat Penting dan menjadi 1 denagn hidup kita semua, HMISI membantu mengembangkan
                    Teknologi yang berkembang dan menghasilkan Programmer Programmer dan System Analis yang akan luar
                    biasa!".</p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Beranda</a></li>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Program Kerja</a></li>
                    <li><a href="#">Kegiatan</a></li>
                    <li><a href="#">Kepengurusan</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Hubungi Kami</h4>
                  <p>
                    Jl. Gatot Subroto 301 <br>
                    Bandung, Jawa Barat 40274<br>
                    Indonesia <br>
                    <strong>Phone:</strong> +62 838 1412 2655<br>
                    <strong>Email:</strong> hmisi@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="github"><i class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-5 intro-img order-md-last order-first">
              <img src="img/HMISI.png" alt="" class="img-fluid" height="400px" width="400px">
            </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>HIMPUNAN MAHASISWA MANAJEMEN INFORMATIKA DAN SISTEM INFORMASI</strong>. All Rights
        Reserved 1.0
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>