<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Administrator Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard.html">
        <div class="sidebar-brand-text mx-3">Admin Randy</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="dashboard.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>
      <li class="nav-item">
        <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Utilities:</h6>
            <a class="collapse-item" href="logout.php">Logout</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Input Data
      </div>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetable" aria-expanded="true" aria-controls="collapsetable">
          <i class="fas fa-fw fa-table"></i>
          <span>Form Input</span>
        </a>
        <div id="collapsetable" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Input Data:</h6>
            <a class="collapse-item" href="input_proker.html">Program Kerja</a>
            <a class="collapse-item" href="input_berita.html">berita</a>
            <a class="collapse-item" href="input_kepengurusan.html">Kepengurusan</a>
          </div>
        </div>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Input Data
      </div>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapeAccount" aria-expanded="true" aria-controls="collapeAccount">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Account</span>
        </a>
        <div id="collapeAccount" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Account:</h6>
            <a class="collapse-item" href="input_account.html">Akun Admin</a>
          </div>
        </div>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="ml-5 mr-5">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <p class="display-4 mt-4ml-5">Form Input Data Berita</p>
            </div>
            <form action="create.html" method="post">
              <!--Input-->
              <!--title-->
              <div class="input-group flex-nowrap pt-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">&emsp;Title&emsp;</span>
                </div>
                <input name="title" type="text" class="form-control" placeholder="Masukan Title..." aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <!--create by-->
              <div class="input-group flex-nowrap pt-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">Created&nbsp;</span>
                </div>
                <input name="create_by" type="text" class="form-control" placeholder="Masukan create-by..." aria-label="Username" aria-describedby="addon-wrapping">
              </div>

              <!--content-->
              <div class="input-group flex-nowrap pt-4">
                <textarea name="content" type="text" class="form-control" placeholder="Masukan articel..." aria-label="Username" aria-describedby="addon-wrapping"></textarea>
              </div>

              <!--Button Input-->
              <div>
                <button name="submit" type="submit" class="btn btn-primary mt-4">Save</button>
              </div>
          </div>

          </form>

          <!--Table Data-->
          <div class="row ml-5 mr-5">
            <p class="display-4 mt-4">Table Data</p>
            <table id="myTable" class="table mt-4 table-hover table-responsive-sm">
              <tr>
                <th>No</th>
                <th>Title</th>
                <th>Created By</th>
                <th>Content</th>
                <th>Option</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>Kenapa Harus Ngoding</td>
                  <td>Randy</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad similique, rem mollitia quis laudantium rerum eveniet praesentium velit odit eius quae placeat obcaecati! Temporibus voluptas beatae similique veniam quas atque.
                  Optio eligendi recusandae soluta, iste dolore quidem quasi, nihil minima neque in tempore eius vitae harum, tempora illum! Nostrum nulla voluptatem facilis atque optio praesentium a expedita eveniet similique aspernatur!
                  Temporibus, repellendus nemo minima eveniet quod animi nam cumque ea modi beatae, veritatis iure aut deleniti eum culpa veniam. Recusandae tempora aspernatur sequi impedit mollitia nam nihil odio hic ea.</td>
                  <td>
                    <a href="ubah_data.html?id=<? echo $p['ID']; ?>">Ubah</a> |
                    <a href="hapus.html?id=<? echo $p['ID']; ?>">Hapus</a>

                  </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jangan Lupa Ayoboga</td>
                <td>Randy</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad similique, rem mollitia quis laudantium rerum eveniet praesentium velit odit eius quae placeat obcaecati! Temporibus voluptas beatae similique veniam quas atque.
                Optio eligendi recusandae soluta, iste dolore quidem quasi, nihil minima neque in tempore eius vitae harum, tempora illum! Nostrum nulla voluptatem facilis atque optio praesentium a expedita eveniet similique aspernatur!
                Temporibus, repellendus nemo minima eveniet quod animi nam cumque ea modi beatae, veritatis iure aut deleniti eum culpa veniam. Recusandae tempora aspernatur sequi impedit mollitia nam nihil odio hic ea.</td>
                <td>
                  <a href="ubah_data.html?id=<? echo $p['ID']; ?>">Ubah</a> |
                  <a href="hapus.html?id=<? echo $p['ID']; ?>">Hapus</a>

                </td>
            </tr>
            </table>

          </div>


          <br> 
        </div>
      </div>
    </div>
  </div>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

      </div>
    </div>
  </div>
</body>
</html>